<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Chat Room</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .container {
      padding-top: 5rem; /* navigation bar의 높이만큼 padding을 추가합니다. */

    }
    #messages{
      max-height: 400px; /* 일정 크기를 넘어가면 스크롤이 생기도록 설정합니다. */
      overflow-y: scroll; /* 스크롤이 필요한 경우 수직 스크롤을 표시합니다. */
      height: 400px;
      background-color:lightgrey;
    }

  </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: info('home',${nickname})"/>
<div class="container">

  <div class="row mb-2">
  <div class="col-6">
    <h2 id="userNum"></h2>
  </div>
  <div class="col-6 text-right">
    <button href="/chat/room" name="disconnect" id="disconnect" class="btn btn-secondary">Leave Room</button>
  </div>
</div>
<div class="list-group" style="height: 200px; overflow-y: auto;">
  <ul id="users" th:name="users" class="list-group-flush">
    <!-- 리스트 아이템 -->
  </ul>
</div>

  <h1 th:text="${chatRoom.name}"></h1>

  <div id="messages" name="messages" class="rounded-lg p-2" >
  </div>
  <hr>
  <div class="form-group">
    <label for="message">Message:</label>
    <div class=" flex-row d-flex align-items-center justify-content-between">
      <input type="text" class="col-sm-10 form-control" id="message" name="message">
      <button  id="sendButton" type="button" class="ml-2 col-sm-2 btn btn-primary">보내기</button>
    </div>
  </div>


</div>
<!-- Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
<script th:inline="javascript">
  $(function (){
    let roomId =[[${chatRoom.roomId}]];
    var sock = new SockJS('http://localhost:8080/ws-stomp');
    var ws = Stomp.over(sock);
    var reconnect = 0;

    ws.connect({},function (frame) {
      ws.subscribe('/sub/chat/room/' + roomId , function(message){
        showMessage(JSON.parse(message.body));
      })
      ws.subscribe('/sub/users/'+roomId,function(users){
        showUsers(JSON.parse(users.body));
      });
      ws.send("/pub/users",{},JSON.stringify({sender:[[${nickname}]],type:"ENTER",roomId}))
      ws.send("/pub/chat/message",{},JSON.stringify({type:"ENTER",roomId,sender:[[${nickname}]]}))
    })

    $('#sendButton').click(function (e) {
      e.preventDefault();
      ws.send("/pub/chat/message", {}, JSON.stringify({
        type: 'TALK', roomId: roomId, sender: [[${nickname}]], message: $('#message').val()
      }));
      $('#message').val('');
    });
    $('#message').keydown(function (key){
      if(key.keyCode == 13){
        ws.send("/pub/chat/message", {}, JSON.stringify({
          type: 'TALK', roomId: roomId, sender: [[${nickname}]], message: $('#message').val()
        }));
        $('#message').val('');
      }
    });



    $('#disconnect').click(function (){
      disconnect()
    });
    function disconnect() {
      if (ws !== null) {
        ws.send("/pub/chat/message",{},JSON.stringify({type:"LEAVE",roomId,sender:[[${nickname}]]}))
        ws.send("/pub/users",{},JSON.stringify({sender:[[${nickname}]],type:"LEAVE",roomId}))
        ws.disconnect(function() {});
        ws = null;
        location.href = '/chat/room'

      }
    }
    function showUsers(users){
      console.log(users)
      usersElement = $('<ul id="users" th:name ="users"></ul>')

      for (const user of users) {
        var userElement = $('<li></li>')
        console.log(user)
        userElement.text(user)
        usersElement.append(userElement)
      }
      $('#users').replaceWith(usersElement)
      $('#userNum').text("사용자수:" + users.length)
    }


    function showMessage(message){
      var messageElement = $('<p></p>');
      if (message.type == "ENTER"){

        messageElement.text(message.message);
      }
      else if(message.type == "LEAVE"){
        messageElement.text(message.message);
      }
      else
        messageElement.text(message.sender + ": "+message.message);
      $('#messages').append(messageElement);
    }
  })
</script>
</body>
</html>
