<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('detail.')">
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
  <link href="starter-template.css" rel="stylesheet"/>

  <title>detail</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: info('home',${nickname})"></nav>

<main role="main" class="container pt-xl-5" >
  <div class="starter-template">

    <table class ="table table-bordered">
      <thead>
      </thead>
      <tbody>
      <tr>
        <th>제목</th>
        <td th:text="${boardDto.title}"></td>
      </tr>
      <tbody>
      <tr>
        <th>작성자</th>
        <td th:text="${boardDto.writer}"></td>
      </tr>
      <tr>
        <th>작성일</th>
        <td th:inline="text">[[${#temporals.format(boardDto.createdDate, 'yyyy-MM-dd HH:mm')}]]</td>
      </tr>
      <tr>
        <th>본문 내용</th>
        <td th:text="${boardDto.content}"></td>
      </tr>
      </tbody>
    </table>

    <!-- 수정/삭제 -->
    <div th:if="${isOwn}">
      <a th:href="@{'/board/post/edit/' + ${boardDto.id}}">
        <button class="btn btn-primary">수정</button>
      </a>
      <form id="delete-form" th:action="@{'/api/post/delete/' + ${boardDto.id}}" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <button class="btn btn-warning" id="delete-btn">삭제</button>
      </form>
    </div>




<!--    댓글-->

    <!-- comments section -->
    <div class="row mt-4">
      <div class="col-md-12">
        <h4>댓글</h4>
        <hr>
        <div class="flex-column"  th:each="comment : ${comments}">
          <div class="media mb-4 ">
          <img class="d-flex mr-3 rounded-circle" src="https://via.placeholder.com/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0" th:text="${comment.member.nickname}"></h5>
            <p th:text="${comment.content}"></p>

          </div>
          <div>
            <p th:text="${comment.createDate} ? ${#temporals.format(comment.createDate,'yyyy-MM-dd HH:mm')} : ${comment.createDate}"></p>
            <div th:if="${nickname} == ${comment.member.nickname}" class="container">
              <div class="row justify-content-end small">
                <div class="text-right text-sm-right">
                  <a th:href="'#edit_comment_'+${comment.id}"  class="btn btn-sm text-secondary " data-toggle="collapse">수정</a>
                  <span class="text-secondary">/</span>
                  <span class="btn btn-sm text-secondary">삭제</span>
                </div>
              </div>

            </div>

          </div>
          </div>
          <div class="collapse mt-3" th:id="'edit_comment_' + ${comment.id}">
            <form class="d-flex" th:action="@{'/api/comment/edit'(comment_id=${comment.id},postid=${id})}" method="post" th:object="${commentDto}">
              <textarea th:field="*{content}" th:value="*{content}" class="form-control m-2" rows="3" placeholder="수정할 댓글 내용을 입력하세요"></textarea>
              <button type="submit" class="btn btn-primary m-2">저장</button>
            </form>
          </div>

        </div>

        <nav  aria-label="Page navigation">
          <ul class="pagination justify-content-center mt-3">
            <li th:if="${comments.hasPrevious()}" class="page-item">
              <a class="page-link"th:href="@{'/board/post/'+${boardDto.id}(page=${comments.getNumber()})}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li th:if="${comments.hasNext()}"  class="page-item">
              <a class="page-link" th:href="@{'/board/post/'+${boardDto.id}(page=${comments.getNumber()+2})}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
        <hr>
        <form class="mb-5" th:action="@{'/api/comment/?nickname=' + ${nickname} +'&postid='+${boardDto.id}}" method="post" th:object="${commentDto}">
          <h5>댓글 작성하기</h5>
          <div class="form-group">
            <textarea class="form-control" rows="3" th:field="*{content}" th:value="*{content}"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">댓글 작성</button>
        </form>
      </div>
    </div>



    <script th:inline="javascript" th:src="@{/js/board.js}"></script>

  </div>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>