<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Register</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <h1 class="text-center">Register</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form th:action="@{/register}" method="post" id="registerForm" th:object="${dto}">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" name="username" required/>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" name="password" required/>
        </div>
        <div class="form-group">
          <label for="passwordConfirm">Confirm Password:</label>
          <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" required/>
          <div class="invalid-feedback">Passwords do not match.</div>
        </div>
        <div class="form-group">
          <label for="nickname">Nickname:</label>
          <input type="text" class="form-control" id="nickname" name="nickname" required/>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Register</button>
      </form>
      <div class="text-center mt-3">
        <a href="/login" class="btn btn-secondary btn-block">Back to Login</a>
      </div>
    </div>
  </div>
</div>
<!-- Include Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
<script>
  // Add custom validation for password confirmation field
  var password = document.getElementById("password")
  var passwordConfirm = document.getElementById("passwordConfirm")

  function validatePassword() {
    if (password.value != passwordConfirm.value) {
      passwordConfirm.setCustomValidity("Passwords do not match.")
    } else {
      passwordConfirm.setCustomValidity("")
    }
  }

  password.onchange = validatePassword
  passwordConfirm.onkeyup = validatePassword
</script>
</body>
</html>
